<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Inicio</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
	<h2>Lista de Usuarios </h2>
	<a th:href="@{/agregar_usuario}" class="btn btn-secondary">Registrar Usuario</a>
	<table class="table mt-4">
		<thead>
			<tr>
				<th>Dni</th>
				<th>Nombre de Usuario</th>
				
			</tr>
		</thead>	
		<tbody>
			<tr th:each="usuario : ${listadoUsuarios}">
				<td th:text="${usuario.dniUsuario}" ></td>
				<td th:text="${usuario.nomUsuario}"></td>
				
				<td>
				<a th:href="@{/eliminarUsuario/{dniUsuario}(dniUsuario=${usuario.dniUsuarioo})}" class="btn btn-danger">Eliminar</a>
				<a th:href="@{/editarUsuario/{dniUsuario}(dniUsuario=${usuario.dniUsuario})}" class="btn btn-info">Editar</a>
				</td>
			</tr>
		</tbody>

	</table>
	
	</div>
</body>

</html>